@font-face {
    font-family: 'HoneySalt';
    src: url('../fonts/HoneySalt.otf') format('opentype');
}

body {
    background-color: rgb(208, 179, 204);
    background-image: url('../img/bckgrond.png');
    background-repeat: repeat-x;
    background-size: auto;
    background-position: bottom;
    background-attachment: fixed;
    height:fit-content;
}
div.epic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.title {
    font-family: 'HoneySalt';
    color: rgb(239, 241, 239);
    text-align: center;
    font-size: 40pt;
    margin-bottom: 40px;
}
h1 {
    font-family: 'HoneySalt';
    color: rgb(101,115,139);
    text-align: left;
    font-size: 20pt;
    text-align: center;
}
h2 {
    font-family: 'HoneySalt';
    color: rgb(75,104,79);
    text-align: left;
    font-size: 17pt;
}
p {
    color: #000;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
}

div.container {
    width: 55%;
    background-color: rgb(239,241,239);
    text-align: center;
    border: 1px solid #000; /* Adds a thin border */
    padding: 20px; /* Optional: Adds some padding inside the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
    box-sizing: border-box; /* Ensures padding and border are included in the width and height */
    flex-direction: column;
    align-items: flex-start;
}
a.button {
    background-color: rgb(166,172, 167);
    padding: 10px 10px 10px 10px;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    font-family: 'HoneySalt';
    border-bottom: none;
    width: 100%;
}
a.button.active {
    background-color: rgb(75,104,79);
}
.buttoncontainer {
    width: 55%;
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers buttons horizontally within the container */
    padding: 10px;
}
.imagecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.texttoimage{
    padding-right: 20px;
}

.button:hover{
    background-color: rgb(101,115,139);
}
div.starbox {
    display: flex;
    flex-direction: row;
}
img.star {
    width: 5%;
    margin-right: 5px;
}
.skill{
    padding: 20px;
    width: calc(50% - 40px); /* Adjust width for two columns */
    box-sizing: border-box;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skill.alternate {
    /* background-color: rgb(225, 246, 227); */
    background-color: rgb(236,224,234);
}