@font-face {
    font-family: 'HoneySalt';
    src: url('../fonts/HoneySalt.otf') format('opentype');
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.station {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.station-dot {
    width: 20px;
    height: 20px;
    background-color: rgb(75, 104, 79);
    border-radius: 50%;
    margin-bottom: 10px;
}

.station-name {
    font-size: 18pt;
    color: rgb(75, 104, 79);
    margin-bottom: 5px;
    font-family: 'HoneySalt';
}

.station-date {
    font-size: 14pt;
    color: rgb(101,115,139);
    font-family: 'HoneySalt';
}

.line {
    width: 4px;
    background-color: rgb(75, 104, 79);
    height: 60px;
    margin: 0 auto;
}
p {
    color: #000;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
}

div.imgbox {
    display: flex;
    flex-direction: column;
}