.bovenste-header {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}

.onderste-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #d9d9d9;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

.onderste-header a {
  color: #fff;
  text-decoration: none;
}

.onderste-header-links {
  display: flex;
  flex-direction: row;
  text-indent: 18px;
}

.onderste-header-rechts {
  display: flex;
  flex-direction: row;
  text-indent: 10px;
  font-size: 14px;
}

.orange {
  color: #ff6900;
}

.sidebar {
  width: 225px;
  height: 100%;
  padding: 20px 20px;
  transition: all 0.5s ease;
  color: #333;
  margin: 10px 0 5px;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

.sidebar p {
  text-indent: 25px;
}

.sidebar .selected {
  color: #6328e0;
  font-weight: bold;
}

.sidebar .title {
  text-indent: 10px;
  font-weight: bold;
  font-size: 16px;
}

.main {
  display: flex;
  flex-direction: row;
}

.rechthoek {
  position: relative;
  width: 1250px;
  height: 330px;
  background: #f3f3f3;
  margin-top: 60px;
}

.vierkant-links {
  position: absolute;
  width: 35%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #d9d9d9;
}

.driehoek-links {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 35%;
  border-top: 165px solid transparent;
  border-bottom: 165px solid transparent;
  border-left: 165px solid #d9d9d9;
}

.vierkant-rechts {
    position: absolute;
    width: 35%;
    height: 100%;
    bottom: 0;
    right: 0;
    background-color: #d9d9d9;
  }

  .driehoek-rechts {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 35%;
    border-top: 165px solid transparent;
    border-bottom: 165px solid transparent;
    border-right: 165px solid #d9d9d9;
  }

.overzicht {
  margin-left: 60px;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  margin-bottom: 60px;
}
