  .bovenste-header {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
  }
  
  .onderste-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
  }
  
  .onderste-header a {
    color: #fff;
    text-decoration: none;
  }

  .onderste-header-links {
    display: flex;
    flex-direction: row;
    text-indent: 10px;
    font-size: 14px
  }
  
  .orange {
    color: #FF6900;
  }

  .rechthoek {
    position: relative;
    width: 70%;
    height: 254px;

    background: #F3F3F3
}

.vierkant {
    position: absolute;
    width: 25%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #D9D9D9;
  }
  
  .driehoek {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 25%;
    border-top: 128px solid transparent;
    border-bottom: 128px solid transparent;
    border-left: 128px solid #D9D9D9;
  }

  .overzicht {
    margin-left: 25%;
  }

  h1 {
    font-family: Helvetica, sans-serif;
    font-size: 40px;
  }

      
  
  